---
layout: layout.liquid
title: Home
---

<h1>Three Things I <strong>Won't</strong> Leave Home Without</h1>
<figure class="item-figure">
    <img src="/images/pine.png" alt="A small pine" width="150" />
    <figcaption class="item-description">My room key attached to a MSU keychain</figcaption>
</figure>
<p class="item-explanation">This is probably the most required item for me to leave, as I need my key to lock my door when I leave and unlock when I come back.</p>
<figure class="item-figure">
    <img src="/images/pine.png" alt="A small pine" width="150" />
    <figcaption class="item-description">My Android smartphone in a blue case</figcaption>
</figure>
<p class="item-explanation">Phones are essential for every day life at this point, so leaving my residence without it is unthinkable.</p>
<figure class="item-figure">
    <img src="/images/pine.png" alt="A small pine" width="150" />
    <figcaption class="item-description">My pretty cheap black wallet with a skull design on it</figcaption>
</figure>
<p class="item-explanation">If I'm going out, I either need cash to buy something, or cards to access something, so leaving without my wallet just doesn't make sense.</p>